# This subdomain is used as the backend server for apps, there's no public HTML.

# Have browsers of root ask for index.html.
DirectoryIndex index.html

# Redirect index.html to public HTML site.
Redirect /aprenticalive2/uploads/index.html http://nanek.name/



